* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
}
ul li,
ol li,
a {
  list-style-type: none;
  text-decoration: none;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.main-page_header {
  padding: 2% 2% 1% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.sign__btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  gap: 5%;
}
.sign {
  border-radius: 10%;
  padding: 2%;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #141816;
  background-color: aqua;
}
.main-page_subheader {
  display: flex;
  justify-content: end;
  align-items: center;
}
.delete-logout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 5%; */
  width: 20%;
}
.delete-logout_btn {
  padding: 1%;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #141816;
  border-radius: 10%;
  background-color: blanchedalmond;
  border: 1px solid;
}
.main-page_img img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-size: cover;
}

.logo,
.sign,
.delete-logout_btn,
.sending-message__btn:hover {
  cursor: pointer;
}
.userName__block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin-top: 2%;
}
.userName {
  font-weight: 700;
  color: bisque;
  font-size: 50px;
  line-height: 16px;
}
.sign,
.delete-logout_btn,
.sending-message__btn {
  transition: background-color 0.3s ease;
}

.sign:hover,
#order-button:hover {
  background-color: aquamarine;
}
#order-button {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.sub_title {
  font-weight: 700;
  color: bisque;
  font-size: 2em;
  line-height: 16px;
  margin: 2%;
}
.main-page_order {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.location__block {
  display: flex;
  justify-content: space-between;
  align-items: space-around;
  margin: 2% 0 2% 0;
}
label {
  font-weight: 400;
  color: bisque;
  font-size: 1em;
  line-height: 16px;
}
.car-type__block {
  display: flex;
  justify-content: start;
  align-items: start;
  /* gap: 1%; */
  margin-bottom: 2%;
}
#order-button {
  border-radius: 10%;
  border: 1px solid;
  background-color: rgba(182, 172, 27, 0.6);
  font-size: 16px;
  font-weight: 500;
  padding: 1%;
  margin-bottom: 2%;
}
#order-details {
  border-radius: 5%;
  border: 1px solid rgba(182, 172, 27, 0.6);
  background-color: rgba(182, 172, 27, 0.5);
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}
#order-details h2 {
  text-align: center;
  width: 100%;
  font-weight: 700;
  color: bisque;
  font-size: 2em;
}
#order-details p {
  font-size: 1.5em;
  color: wheat;
  font-weight: 500;
  font-style: bold;
  margin: 2%;
}
#car-type {
  border-radius: 10%;
  padding: 2%;
  font-size: 14px;
  line-height: 16px;
  /* text-transform: uppercase; */
  color: #141816;
  background-color: aqua;
}
#location {
  padding: 2%;
  background-color: wheat;
  width: 60%;
}
